body {
	top: 0;
	margin: 0;
}

header {
	background:url(../assets/image/fondo.jpg);
	height: 135px;
	padding-bottom: 30px;
	position: fixed;
	text-align: center;
	width: 100%;

}
/*Asignamos propiedades a los icono*/
.icon {
  color:rgba(97, 11, 83, 0.38);
	font-size: 25px;
	padding: 5px;
}

li.box {
	display: inline;
	position: relative;
}
/*asignando propiedades a nuestra caja de texto*/
input {
	background: #EFEFEF;
	border: none;
	font-size: 18px;
	width: 85%;
}

div.text {
  background-color: #EFEFEF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  width: 85%;
}

/*propiedades para la segunda lista que es menu horizontal*/
li.ligth{
  background:rgba(97, 11, 83, 0.38);
	padding-right: 25px;
	border-radius:10px;
	border-style:dashed;
	border-color:rgba(217, 113, 209, 0.45);
	display: inline-block;
	line-height: 65px;
	margin-right: 10px;
	padding-left: 25px;
	position: relative;
	text-align: center;
}

a {
	color: black;
	font-size: 18px;
	text-decoration: none;
}

/*colocamos atributos a la section de imagenes*/
section {
  padding-top: 160px;
	padding-left: 50px;
	padding-right: 50px;
}

 div {
   box-sizing: border-box;
   display: inline-block;
	 padding: 10px;
	 text-align: center;
	 width: 24%;
 }
 /*propiedades para el pie de pagina*/
 footer {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
